.banner {
    border-bottom: solid 2px rgba(0,0,0,.12);
    position: relative;
    height: 72px;
}

.banner--mobile {
    height: 120px;
}

.banner__message {
    position: absolute;
    bottom: 0;
    left: 0;
}