<ng-container *ngIf="message$ | async as message">
    <div *ngIf="message.show" @slideInOut class="banner" [class.banner--mobile]="isHandset$ | async">
        <div class="banner__message">
            <mat-icon *ngIf="message.icon">{{message.icon}}</mat-icon>
            <p>{{message.text}}</p>
            <button *ngIf="message.dismissBtnTxt" (click)="dismissAction()">{{message.dismissBtnTxt}}</button>
            <button *ngIf="message.confirmBtnTxt" (click)="confirmAction()">{{message.confirmBtnTxt}}</button>
        </div>
    </div>
</ng-container>